Brotli==1.1.0
cffi==1.17.1
h2==4.1.0
importlib_metadata==8.5.0
ipykernel==6.29.5
matplotlib==3.9.2
munkres==1.1.4
pandas==2.2.3
pickleshare==0.7.5
pip==24.2
PySocks==1.7.1
requests==2.32.3
scikit-learn==1.5.2
setuptools==75.1.0
unicodedata2==15.1.0
wheel==0.44.0
zstandard==0.23.0
